.projects {    
  background-color: $color-primary-darker;
  color: $color-primary-lighter;

  &__bg {
    background-image: linear-gradient(5deg, $color-primary-darker 49.69%, $color-primary-lighter 50%); 
    height: 150px;   
    margin-top: -30px;
    width: 100%;
  }

  &__title {
    color: $color-primary-lighter;
    margin: -70px 0 60px;
  }
}

.project__item--left {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 150px; 
}

.project__item--right {
    align-items: center;
    display: flex;
    justify-content: space-between;    
    margin-bottom: 150px;   
}

.project__item--right:last-child {
    margin-bottom: 0;
    padding-bottom: 30px;
}

.project__info--left {
    margin-left: 20px;
    width: 50%;
}

.project__info--right {
    margin-right: 20px;
    width: 50%;
}

.project__name {
    color: $color-light;
    font-family: $font-secundary;
    font-size: 160%; 
    margin-bottom: 20px;
}

.project__description {
    color: $color-light;
    text-align: left;
    width: 100%;
}

.project__icon {
    font-size: $icon-small;
    margin: 20px 10px 30px 0;
}

.project__img {
    height: 50%;
    width: 50%;
}